@use "components/functions";

// COLORS
$primary: #9a1d71;
$secondary: #eeaad7;
$black-ish: hsl(0, 2%, 18%);
$dark: #2f2d2d;
$white: #fcf8f8;
$white-03: hsla(0, 33%, 98%, 0.3);
$white-05: hsla(0, 33%, 98%, 0.5);

// FONTS
$body-fs: clamp(functions.toRem(14), calc(14px + 0.17vw), functions.toRem(17)) !important;
$body-landscape-fs: clamp(functions.toRem(12), calc(12px + 0.17vw), functions.toRem(15));
$btn-font-size: $body-fs;

// CAROUSEL
$carousel-control-color: $dark;

// NAVBAR
$navbar-light-color: $white;
$navbar-light-hover-color: $secondary;
$navbar-light-active-color: $secondary;
$navbar-toggler-border-radius: functions.toRem(8);

// FOCUS RING
$focus-ring-width: 0.13rem;
$focus-ring-opacity: 0.8;
$focus-ring-color: $secondary;
$focus-ring-blur: functions.toRem(2);

// DROPDOWN
$dropdown-bg: $primary;
$dropdown-spacer: functions.toRem(7);
$dropdown-border-color: $black-ish;
$dropdown-border-radius: functions.toRem(10);
$dropdown-link-color: $white;
$dropdown-border-width: functions.toRem(1.3);
$dropdown-link-hover-color: $black-ish;
$dropdown-link-hover-bg: $secondary;
$dropdown-header-color: $white-05;
$dropdown-item-padding-x: functions.toRem(23);
$dropdown-header-padding-x: functions.toRem(15);

// BLOCKQUOTE
$blockquote-footer-color: $dark;
$blockquote-footer-font-size: $body-fs;

// ACCORDION
$accordion-button-active-bg: $white;

// GLOBAL SETTINGS

body {
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    font-size: $body-fs;

    @media (orientation: landscape) {

        font-size: $body-landscape-fs !important;


        @media screen and (min-width: 992px) {
            font-size: $body-fs;
        } 
        
    }
}

// IMPORT BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap";
