@use "components/functions";

// COLORS
$primary: hsl(320, 68%, 36%);
$secondary: hsl(320, 67%, 80%);
$black-ish: hsl(0, 2%, 18%);
$white-ish: hsl(0, 33%, 98%);

// FONTS
$body-fs: clamp(toRem(14), toRem(14) + 2vw, toRem(18));

// GLOBAL SETTINGS
*, *::after, *::before {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: $body-fs;
}

// IMPORT BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap";
