@use "components/functions";

// COLORS
$primary: hsl(320, 68%, 36%);
$secondary: hsl(320, 67%, 80%);
$black-ish: hsl(0, 2%, 18%);
$dark: hsl(0, 2%, 18%);
$white-ish: hsl(0, 33%, 98%);
$white-ish-05: hsla(0, 33%, 98%, 0.5);
$white-ish-03: hsla(0, 33%, 98%, 0.3);

// FONTS
$body-fs: clamp(functions.toRem(14), functions.toRem(14) + 2vw, functions.toRem(18));

// NAVBAR
$navbar-light-color: $white-ish;
$navbar-light-hover-color: $secondary;
$navbar-light-active-color: $secondary;
$navbar-toggler-border-radius: functions.toRem(8);

// FOCUS RING
$focus-ring-width: 0.13rem;
$focus-ring-opacity: 0.8;
$focus-ring-color: $secondary;
$focus-ring-blur: functions.toRem(2);

// DROPDOWN
$dropdown-bg: $primary;
$dropdown-spacer: functions.toRem(7);
$dropdown-border-color: $black-ish;
$dropdown-border-radius: functions.toRem(10);
$dropdown-link-color: $white-ish;
$dropdown-border-width: functions.toRem(1.3);
$dropdown-link-hover-color: $black-ish;
$dropdown-link-hover-bg: $secondary;
$dropdown-header-color: $white-ish-05;
$dropdown-item-padding-x: functions.toRem(23);
$dropdown-header-padding-x: functions.toRem(15);

// GLOBAL SETTINGS
*, *::after, *::before {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: $body-fs;
}

// IMPORT BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap";
