@use './../../custom';
@use './../../components/functions';

.giftpage {

	min-height: 50vh;

	// ALL BREAKPOINTS
	padding: functions.toRem(16) 0;

	&__conditions {
		background-color: rgba(custom.$dark, 0.7);
	}

	&__closeConditions {
		width: functions.toRem(5) !important;
		height: functions.toRem(5) !important;
		margin: functions.toRem(-7) functions.toRem(-7) functions.toRem(-13) 0;
	}

	h4 {
		font-size: custom.$body-fs;
		font-weight: normal;
	}

	///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
	@media (orientation: portrait) {

		&__simulatorImg {
			display: none;
		}

		@include custom.media-breakpoint-up(md) {

			&__wrapper {
				flex-direction: row !important;
				gap: functions.toRem(10) !important;
			}
	
			&__purchase {
				border: functions.toRem(1) solid custom.$dark;
				border-radius: functions.toRem(6);
				padding: functions.toRem(16);
				flex: 50% !important;
			}
	
			&__simulator {
				flex: 50% !important;
				gap: functions.toRem(16);
			}
		}

		@include custom.media-breakpoint-up(lg) {

			&__simulatorImg {
				display: block;
			}

			&__simulatorImgWrapper {
				display: flex;
				gap: functions.toRem(32);
				align-items: center;
				padding: functions.toRem(16) functions.toRem(16) 0 functions.toRem(16);
				border-bottom: functions.toRem(1) solid;
			}
		}
	}

	///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
	@media (orientation: landscape) {

		&__simulatorImg {
			display: none;
		}

		&__wrapper {
			flex-direction: row !important;
			gap: functions.toRem(10) !important;
		}

		&__purchase {
			border: functions.toRem(1) solid custom.$dark;
			border-radius: functions.toRem(6);
			padding: functions.toRem(16);
			flex: 50% !important;
		}

		&__simulator {
			flex: 50% !important;
			gap: functions.toRem(16);
		}

		/////////////////// LAPTOP AND DESKTOP  ///////////////////
		@include custom.media-breakpoint-up(lg) {

			&__simulatorImg {
				display: block;
			}

			&__simulatorImgWrapper {
				display: flex;
				gap: functions.toRem(32);
				align-items: center;
				padding: functions.toRem(16) functions.toRem(16) 0 functions.toRem(16);
				border-bottom: functions.toRem(1) solid;
			}
		}

		@include custom.media-breakpoint-up(xl) {

			padding: functions.toRem(20);

			&__wrapper {
				gap: functions.toRem(20) !important;
			}

			&__purchase {
				flex: 40% !important;
			}

			&__simulator {
				flex: 60% !important;
			}

			&__simulatorImgWrapper {

				p {
					line-height: 2;
					padding: functions.toRem(16);
				}
			}

			&__simulatorResultsWrapper {
				flex-direction: row !important;
			}
		}
	}
}
