@use '../../custom';

.features {

    &__toggle {

        background-color: none !important;
        
        &::after {
            content: none !important;
        }
    }

    &__arrow {
        top: 7%;
        left: 90%;
        
        &--up {
            transform: translate(-90%, -7%) rotate(270deg);
        } 

        &--down {
            transform: translate(-90%, -7%) rotate(90deg);
        }
    }

    &__table {

        border-radius: 10%;

        @include custom.media-breakpoint-up(lg) {
            width: 75%;
        }
    }
}