@use '../../custom';
@use '../../components/functions';

.gift {
    color: custom.$white;
    background: url('../../../images/homepage/pink_wave_background.svg');
    background-size: cover;
    height: calc(100vh - functions.toRem(56));

    &__text {
        color: custom.$dark;
        width: 80%;
        font-weight: 700;
    }

    &__btn {
        font-family: 'Bodoni Moda', serif;
        font-weight: 700;
        font-size: functions.toRem(19.2);
        letter-spacing: functions.toRem(5);
        text-transform: uppercase;
        width: 80%;
    }

    &__img {
        max-height: 75%;
    }

    &__icon {
        max-width: 30%;
    }
 }