@use '../../custom';

.intro {

    // remove later

    strong {
        width: min-content;
    }

    &__content {

        width: 100%;
        
        @include custom.media-breakpoint-up(lg) {
            width: 75%;
        }
    }

    &__containers {

        height: 100%;

        @include custom.media-breakpoint-up(lg) {
            height: 100%;
        }

        p {

            line-height: 2;

            @include custom.media-breakpoint-up(lg) {
                line-height: 2;
            }
        }
    }

}