@use '../../custom';
@use '../../components/functions';

//////////////// CAROUSEL PART ////////////////

.carousel {

    // ALL BREAKPOINTS

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
    
    @media (orientation: portrait) {

        height: auto;

        // CENTER PART OF THE CAROUSEL - REVIEW

        &__review-holder {
            width: 80%;
            height: 90%;
            border: functions.toRem(8) solid custom.$primary;
            box-shadow: functions.toRem(2) functions.toRem(4) functions.toRem(10) rgba(custom.$dark, 0.6), functions.toRem(-2) functions.toRem(4) functions.toRem(10) rgba(custom.$dark, 0.6);

            blockquote {
                font-size: custom.$body-fs;
                margin: 0;
            }

            figure {
                padding: 1.5rem !important;
            }
        }

        &__icon {
            width: 20%;
        }

        &__stars {
            height: functions.toRem(30);
            width: functions.toRem(30);
        }

        // PREVIOUS AND NEXT BUTTON ON THE SIDES OF THE CAROUSEL

        &__arrows {
            width: functions.toRem(35);
            color: black;
        }

        @include custom.media-breakpoint-up(md) {
    
            &__inner {
                height: 100%;
            }

            &__item {
                gap: 1rem !important;
            }
    
            // LEFT PART OF THE CAROUSEL - ROUNDED IMAGE
    
            &__img-holder {
                width: 45%;
                height: 80%;
                display: flex !important;
            }
    
            &__img {
                height: 120%;
                aspect-ratio: 1 / 1;
                margin-left: 10%;
    
                &:nth-child(1) img {
                    object-position: 50% 50%;
                }
    
                &:nth-child(2) img {
                    object-position: 50% 70%;
                }
    
                &:nth-child(3) img {
                    object-position: 40% 50%;
                }
    
                &:nth-child(4) img {
                    object-position: 50% 50%;
                }
    
                &:nth-child(5) img {
                    object-position: 60% 50%;
                }
    
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
    
            // CENTER PART OF THE CAROUSEL - REVIEW
    
            &__review-holder {
                width: 50%;
                height: 100%;
    
                blockquote {
                    font-size: custom.$body-landscape-fs;
                    margin: 0;
                }
    
                figcaption {
                    font-size: custom.$body-landscape-fs !important;
                }
    
            }
    
            &__icon {
                width: 15%;
            }
    
            &__stars {
                height: functions.toRem(20);
                width: functions.toRem(20);
            }
    
            // RIGHT PART OF THE CAROUSEL - DECOR
    
            &__decor-holder {
                width: 5%;
                height: 80%;
                display: block !important;
            }
    
            // PREVIOUS AND NEXT BUTTON ON THE SIDES OF THE CAROUSEL
    
            &__arrows {
                width: functions.toRem(30);
                
                span {
                    width: 1rem !important;
                    height: 1rem !important;
                }
            }

        }

        @include custom.media-breakpoint-up(lg) {
            &__section {
                margin-bottom: 2rem !important;
            }
        }

    }

    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    
    @media (orientation: landscape) {

        max-height: 100vh;

        &__section {
            margin-bottom: 3rem !important;
        }

        &__inner {
            height: 100%;
        }


        // LEFT PART OF THE CAROUSEL - ROUNDED IMAGE

        &__img-holder {
            width: 40%;
            height: 80%;
            display: flex !important;
        }

        &__img {
            height: 120%;
            aspect-ratio: 1 / 1;
            margin-left: 10%;

            &:nth-child(1) img {
                object-position: 50% 50%;
            }

            &:nth-child(2) img {
                object-position: 50% 70%;
            }

            &:nth-child(3) img {
                object-position: 40% 50%;
            }

            &:nth-child(4) img {
                object-position: 50% 50%;
            }

            &:nth-child(5) img {
                object-position: 60% 50%;
            }

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        // CENTER PART OF THE CAROUSEL - REVIEW

        &__review-holder {
            width: 55%;
            height: 100%;
            border: functions.toRem(8) solid custom.$primary;
            box-shadow: functions.toRem(2) functions.toRem(4) functions.toRem(10) rgba(custom.$dark, 0.6), functions.toRem(-2) functions.toRem(4) functions.toRem(10) rgba(custom.$dark, 0.6);

            blockquote {
                font-size: custom.$body-landscape-fs;
                margin: 0;
            }

            figcaption {
                font-size: custom.$body-landscape-fs !important;
            }

        }

        &__icon {
            width: 15%;
        }

        &__stars {
            height: functions.toRem(20);
            width: functions.toRem(20);
        }


        // RIGHT PART OF THE CAROUSEL - DECOR

        &__decor-holder {
            width: 5%;
            height: 80%;
            display: block !important;
        }

        // PREVIOUS AND NEXT BUTTON ON THE SIDES OF THE CAROUSEL

        &__arrows {
            width: functions.toRem(30);
            
            span {
                width: 1rem !important;
                height: 1rem !important;
            }
        }

        @include custom.media-breakpoint-up(md) {

            &__review-holder {
                
                figure {
                    padding: 1.5rem !important;
                }

                blockquote {
                    line-height: 2;
                }
            }

        }


        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        
        @include custom.media-breakpoint-up(lg) {

            max-height: 70vh;

            // CONTROL BUTTONS ABOVE THE CAROUSEL

            &__controls {
                display: flex !important;
                width: 100% !important;
                height: 10%;
                gap: 1rem !important;
                padding: 1rem;

                [data-bs-target] {

                    text-indent: 0%;
                    opacity: 1;
                    background: linear-gradient(
                        180deg,
                        custom.$secondary,
                        custom.$primary
                    );
                    color: custom.$white;
                }

                button {
                    padding: 0.7rem 0.5rem !important;
                }

            }

            &__inner {
                height: 90%;
            }

            &__item {
                gap: 1rem;
            }

            &__img-holder {
                width: 55%;
            }

            &__img {
                margin: 0;
            }

            
            &__review-holder {

                border: functions.toRem(16) solid custom.$primary;
                width: 40%;
                height: 90%;
                box-shadow: functions.toRem(3) functions.toRem(7) functions.toRem(15) rgba(custom.$dark, 0.6), functions.toRem(-3) functions.toRem(7) functions.toRem(15) rgba(custom.$dark, 0.6);

                figure {
                    padding: 1rem 3rem;
                }
            }

            &__stars {
                height: functions.toRem(35);
                width: functions.toRem(35);
            }

            &__arrows {
                width: functions.toRem(48);

                span {
                    width: 2rem !important;
                    height: 2rem !important;
                }
            }

        }

        @include custom.media-breakpoint-up(xl) {

            &__controls {
                width: 75% !important;

                button {
                    padding: 1rem !important;
                }
            }

            &__stars {
                height: functions.toRem(48);
                width: functions.toRem(48);
            }
        }

    }

}
























//////////////// SUMMARY PART ////////////////

.summary {

    // ALL BREAKPOINTS

    &__box {

        border: functions.toRem(1) solid custom.$dark;
        border-radius: functions.toRem(16);
        transition: all .5s ease-in-out;

        // CLASS ADDED ON HOVER (THE BOX IN THE MIDDLE ALWAYS KEEP IT)

        &--highlight {
            background-color: custom.$primary !important;
            color: custom.$white;
            border: none !important;
            transition: all .5s ease-in-out;
        }

    }

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
    
    @media (orientation: portrait) {
        
        &__box {
            width: 80%;

            // CLASS ADDED ON HOVER (THE BOX IN THE MIDDLE ALWAYS KEEP IT)

            &--highlight {
                box-shadow: functions.toRem(3) functions.toRem(6) functions.toRem(13) rgba(custom.$dark, 0.6), functions.toRem(-3) functions.toRem(6) functions.toRem(13) rgba(custom.$dark, 0.6);

                .summary__icon {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                    transition: all .5s ease-in-out;
                }
            }
        }


        &__icon {

            width: 40%;
            aspect-ratio: 1 / 1;
            background: url('../../../images/homepage/flower_frame_background.svg');
            background-size: 115% 115%;
            background-position: 50% 50%;

            img {
                width: 40%;
            }

        }

        @include custom.media-breakpoint-up(md) {

            flex-direction: row !important;

            // INDIVIDUAL SUMMARY BOX
    
            &__box {
                width: 20%;
                height: 80%;
                padding: 0.5rem;
    
                // CLASS ADDED ON HOVER (THE BOX IN THE MIDDLE ALWAYS KEEP IT)
    
                &--highlight {
                    height: 100% !important;
                    width: 30% !important;
                    box-shadow: functions.toRem(4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6), functions.toRem(-4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6);
    
                    .summary__img {
                        display: block !important;
                        opacity: 0.4;
    
                        &--left {
                            width: 120%;
                            top: 110%;
                            left: -10%;
                            transform: translate(0, -110%);
                        }
    
                        &--right {
                            width: 110%;
                            top: 140%;
                            left: -7%;
                            transform: translate(0, -140%);
                        }
                    }
    
                    // a {
                    //     font-size: custom.$body-landscape-fs;
                    //     padding: 0.3rem;
                    // }
    
                }
    
            }
    
            // ICONS
    
            &__icon {
    
                width: 60%;
    
            }

        }

        @include custom.media-breakpoint-up(lg) {

            &__box {
                width: 15%;
                height: 80%;

                &--highlight {
                    height: 100% !important;
                    width: 20% !important;
                }
            }

        }
    
    }

    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    
    @media (orientation: landscape) {

        flex-direction: row !important;

        // INDIVIDUAL SUMMARY BOX

        &__box {
            width: 25%;
            height: 80%;
            padding: 0.5rem;

            // CLASS ADDED ON HOVER (THE BOX IN THE MIDDLE ALWAYS KEEP IT)

            &--highlight {
                height: 100% !important;
                width: 30% !important;
                box-shadow: functions.toRem(4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6), functions.toRem(-4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6);

                .summary__icon {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                    transition: all .5s ease-in-out;
                }

                .summary__img {
                    display: block !important;
                    opacity: 0.4;

                    &--left {
                        width: 120%;
                        top: 110%;
                        left: -10%;
                        transform: translate(0, -110%);
                    }

                    &--right {
                        width: 110%;
                        top: 140%;
                        left: -7%;
                        transform: translate(0, -140%);
                    }
                }

                a {
                    font-size: custom.$body-landscape-fs;
                    padding: 0.3rem;
                }

            }

        }

        // ICONS

        &__icon {

            width: 60%;
            aspect-ratio: 1 / 1;
            background: url('../../../images/homepage/flower_frame_background.svg');
            background-size: 115% 115%;
            background-position: 50% 50%;

            img {
                width: 40%;
            }

        }

        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        
        @include custom.media-breakpoint-up(lg) {

            &__box {
                width: 20%;
                height: 70%;
                padding: 1rem;

                &--highlight {
                    height: 100% !important;
                    width: 25% !important;

                }

            }

            &__icon {
                width: 90%;
            }

        }

        @include custom.media-breakpoint-up(xl) {

            &__box {
                width: 15%;
                height: 80%;
                padding: 1rem;

                &--highlight {
                    height: 100% !important;
                    width: 20% !important;

                }
                
            }

        }

    }


}











