@use '../../custom';
@use '../../components/functions';

//////////////// CAROUSEL PART ////////////////

.carousel {

    max-height: 100vh;
    margin-bottom: functions.toRem(-64); // WHY DO I NEED THAT?????????????

    // CONTROL BUTTONS ABOVE THE CAROUSEL

    &__controls [data-bs-target] {
        text-indent: 0%;
        opacity: 1;
        background: linear-gradient(
            180deg,
            custom.$secondary,
            custom.$primary
        );
        color: custom.$white;
    }

    // LEFT PART OF THE CAROUSEL - ROUNDED IMAGE

    &__img-holder {
        width: 55%;
        height: 80%; 
    }

    &__img {
        height: 120%;
        aspect-ratio: 1 / 1;

        &:nth-child(1) img {
            object-position: 50% 50%;
        }

        &:nth-child(2) img {
            object-position: 50% 70%;
        }

        &:nth-child(3) img {
            object-position: 40% 50%;
        }

        &:nth-child(4) img {
            object-position: 50% 50%;
        }

        &:nth-child(5) img {
            object-position: 60% 50%;
        }

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    // CENTER PART OF THE CAROUSEL - REVIEW

    &__review-holder {
        width: 40%;
        height: 90%;
        border: functions.toRem(16) solid custom.$primary;
        box-shadow: functions.toRem(3) functions.toRem(7) functions.toRem(15) rgba(custom.$dark, 0.6), functions.toRem(-3) functions.toRem(7) functions.toRem(15) rgba(custom.$dark, 0.6);
    }

    &__icon {
        width: 20%;
    }

    &____stars {
        height: functions.toRem(48);
        width: functions.toRem(48);
    }

    // LEFT PART OF THE CAROUSEL - DECOR

    &__decor-holder {
        width: 5%;
        height: 80%;
    }

    // PREVIOUS AND NEXT BUTTON ON THE SIDES OF THE CAROUSEL

    &__arrows {
        width: functions.toRem(48);
    }
}

//////////////// SUMMARY PART ////////////////

.summary {

    // INDIVIDUAL SUMMARY BOX

    &__box {
        width: 15%;
        border: functions.toRem(1) solid custom.$dark;
        border-radius: functions.toRem(16);
        height: 80%;
        transition: all .5s ease-in-out;

        // CLASS ADDED ON HOVER (THE BOX IN THE MIDDLE ALWAYS KEEP IT)

        &--highlight {

            background-color: custom.$primary !important;
            height: 100% !important;
            width: 20% !important;
            box-shadow: functions.toRem(4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6), functions.toRem(-4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6);
            color: custom.$white;
            border: none !important;
            transition: all .5s ease-in-out;

            .summary__icon {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                transition: all .5s ease-in-out;
            }

            .summary__img {
                display: block !important;
                opacity: 0.4;

                &--left {
                    width: 120%;
                    top: 110%;
                    left: -10%;
                    transform: translate(0, -110%);
                }

                &--right {
                    width: 110%;
                    top: 140%;
                    left: -7%;
                    transform: translate(0, -140%);
                }
            }

        }

    }

    // ICONS

    &__icon {

        width: 90%;
        aspect-ratio: 1 / 1;
        background: url('../../../images/homepage/flower_frame_background.svg');
        background-size: 115% 115%;
        background-position: 50% 50%;

        img {
            width: 40%;
        }

    }

}











