@use '../../custom';
@use '../../components/functions';

:root {
    --length: 0;
    --top: 0;
}

//////////////// SUMMARY PART ////////////////

.summary {

    // ALL BREAKPOINTS

    &__box {

        border: functions.toRem(1) solid custom.$dark;
        border-radius: functions.toRem(16);
        transition: all .5s ease-in-out;

    }

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
    
    @media (orientation: portrait) {
        
        &__box {
            width: 80%;
            background-color: custom.$secondary;
        }

        @media screen and (max-width: 767px) {

            height: 1000vh;
            width: 100%;
            display: block !important;

            &__img {
                display: none;
                opacity: 0;
                width: 100%;
            }

            &__btnBox {
                position: relative;
                min-height: 2.5rem;
            }

            &__svg {

                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                // z-index: 3;

                rect {
                
                    height: 90%;
                    width: 98%;
                    stroke-dasharray: var(--length);
                    stroke-dashoffset: var(--length);
                    stroke-width: 5;
                    // stroke: custom.$primary;
                    z-index: 1;
                    stroke-linecap: round;
                    // paint-order: fill;

                }
            }

            &__animationBox {
                height: calc(100vh - 56px);
                width: 100%;
                overflow-y: scroll;
                scrollbar-width: none;  /*Firefox*/
                -ms-overflow-style: none;  /*IE and Edge */
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            &__box {
                top: var(--top);
                position: sticky !important;
                transform: translate(-100%);
                transition: all .5s ease-out;
                padding: 0 !important;
                justify-content: space-between;

                strong {
                    font-size: clamp(functions.toRem(20), calc(functions.toRem(20) + 0.7vw), functions.toRem(30)) !important;
                }

                span {
                    margin-top: 1rem;
                }

                figcaption {
                    padding: 0 1.5rem;
                    font-weight: 400 !important;
                    font-size: clamp(functions.toRem(16), calc(functions.toRem(1) + 2vh), functions.toRem(25));
                }
            }

            &__hidden {
                display: none;
                position: relative;
                z-index: 2;
                padding: 0.2rem;
                font-size: clamp(functions.toRem(16), calc(functions.toRem(1) + 2vh), functions.toRem(25));
            }

            &__icon {

                width: 100%;
                // aspect-ratio: 1 / 1;
                // background: url('../../../images/homepage/flower_frame_background.svg');
                // background-size: 115% 115%;
                // background-position: 50% 50%;
    
                img {
                    width: 40%;
                }
    
            }
        }

        @include custom.media-breakpoint-up(md) {

            flex-direction: row !important;

            // INDIVIDUAL SUMMARY BOX
    
            &__box {
                width: 25%;
                height: 35vh;
                padding: 0.5rem !important;
                gap: 1rem !important;
    
                // CLASS ADDED ON HOVER (THE BOX IN THE MIDDLE ALWAYS KEEP IT)
    
                &--highlight {

                    background-color: custom.$primary !important;
                    color: custom.$white;
                    border: none !important;
                    transition: all .5s ease-in-out;
                    height: 45vh !important;
                    width: 30% !important;
                    box-shadow: functions.toRem(4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6), functions.toRem(-4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6);
    
                    .summary__img {
                        display: block !important;
                        position: absolute !important;
                        opacity: 0.4;
                        bottom: 0;
                        width: 100%;
                        left: 0;
    
                        // &--left {
                        //     width: 120%;
                        //     top: 110%;
                        //     left: -10%;
                        //     transform: translate(0, -110%);
                        // }
    
                        // &--right {
                        //     width: 110%;
                        //     top: 140%;
                        //     left: -7%;
                        //     transform: translate(0, -140%);
                        // }
                        // REMOVE THOSE CLASSES
                    }

                    .summary__icon {
                        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                        transition: all .5s ease-in-out;
                    }
    
                    a {
                        // font-size: custom.$body-landscape-fs;
                        padding: 0.3 0.5rem;
                        background-color: custom.$secondary;
                    }
    
                }
    
            }
    
            // ICONS
            &__icon {

                width: 100%;
                // aspect-ratio: 1 / 1;
                // background: url('../../../images/homepage/flower_frame_background.svg');
                // background-size: 115% 115%;
                // background-position: 50% 50%;
    
                img {
                    width: 60%;
                }
    
            }

            &__img {
                display: none;
            }

            &__svg {
                display: none;
            }

        }

        @include custom.media-breakpoint-up(lg) {

            &__box {
                width: 20%;
                height: 30vh;

                &--highlight {
                    height: 35vh !important;
                    width: 25% !important;
                }
            }

        }
    
    }

    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    
    @media (orientation: landscape) {

        flex-direction: row !important;

        // INDIVIDUAL SUMMARY BOX

        &__box {
            width: 25%;
            height: 70vh;
            padding: 0.5rem;
            background-color: custom.$secondary;

            // CLASS ADDED ON HOVER (THE BOX IN THE MIDDLE ALWAYS KEEP IT)

            &--highlight {
                height: 100vh;
                // min-height: 100vh !important;
                // height: auto;
                width: 30% !important;
                box-shadow: functions.toRem(4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6), functions.toRem(-4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6);
                background-color: custom.$primary;
                color: custom.$white;

                .summary__icon {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                    transition: all .5s ease-in-out;
                }

                .summary__img {
                    display: block !important;
                    position: absolute !important;
                    opacity: 0.4;
                    width: 100%;
                    bottom: 0;
                    left: 0;


                    // &--left {
                    //     width: 120%;
                    //     top: 110%;
                    //     left: -10%;
                    //     transform: translate(0, -110%);
                    // }

                    // &--right {
                    //     width: 110%;
                    //     top: 140%;
                    //     left: -7%;
                    //     transform: translate(0, -140%);
                    // }
                }

                a {
                    font-size: custom.$body-landscape-fs;
                    padding: 0.3rem 0.5rem;
                    background-color: custom.$secondary;
                }

            }

        }

        // ICONS

        &__icon {

            width: 100%;
            // aspect-ratio: 1 / 1;
            // background: url('../../../images/homepage/flower_frame_background.svg');
            // background-size: 115% 115%;
            // background-position: 50% 50%;

            img {
                width: 50%;
            }

        }

        &__svg {
            display: none;
        }

        &__img {
            display: none;
        }

        @include custom.media-breakpoint-up(md) {

            &__box {
                width: 20%;
                height: 80vh;

                &--highlight {
                    height: 110vh !important;
                    width: 25% !important;

                }

            }
        }

        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        
        @include custom.media-breakpoint-up(lg) {

            &__box {
                padding: 1rem;
                height: 40vh;

                &--highlight {
                    height: 60vh !important;
                    
                    a {
                        font-size: custom.$body-fs;
                        padding: 0.5rem;
                    }
                }
            }

            &__icon {
                width: 90%;
            }

        }

        @include custom.media-breakpoint-up(xl) {

            &__box {
                width: 15%;
                height: 50vh;

                &--highlight {
                    height: 70vh !important;
                    width: 20% !important;

                }
                
            }

        }

    }


}










// for mobile before animation

// &--highlight {
//     box-shadow: functions.toRem(3) functions.toRem(6) functions.toRem(13) rgba(custom.$dark, 0.6), functions.toRem(-3) functions.toRem(6) functions.toRem(13) rgba(custom.$dark, 0.6);
//     height: 60vh;

//     .summary__icon {
//         filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
//         transition: all .5s ease-in-out;
//     }

//     .summary__img {
//         display: block !important;
//         opacity: 0.4;
//         height: 60%;
//         transition: all 3s ease-out;

//         &--left {
//             width: 120%;
//             top: 110%;
//             left: -10%;
//             transform: translate(0, -110%);
//         }

//         &--right {
//             width: 110%;
//             top: 140%;
//             left: -7%;
//             transform: translate(0, -140%);
//         }
//     }
// }