@use '../../custom';
@use '../../components/functions';

//////////////// SUMMARY PART ////////////////

.summary {

    // ALL BREAKPOINTS

    &__box {

        border: functions.toRem(1) solid custom.$dark;
        border-radius: functions.toRem(16);
        transition: all .5s ease-in-out;

        // CLASS ADDED ON HOVER (THE BOX IN THE MIDDLE ALWAYS KEEP IT)

        &--highlight {
            background-color: custom.$primary !important;
            color: custom.$white;
            border: none !important;
            transition: all .5s ease-in-out;
        }

    }

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////
    
    @media (orientation: portrait) {
        
        &__box {
            width: 80%;
            transition: all 1s ease-out;

            // CLASS ADDED ON HOVER (THE BOX IN THE MIDDLE ALWAYS KEEP IT)

            &--highlight {
                box-shadow: functions.toRem(3) functions.toRem(6) functions.toRem(13) rgba(custom.$dark, 0.6), functions.toRem(-3) functions.toRem(6) functions.toRem(13) rgba(custom.$dark, 0.6);
                height: 60vh;

                .summary__icon {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                    transition: all .5s ease-in-out;
                }

                .summary__img {
                    display: block !important;
                    opacity: 0.4;
                    height: 60%;
                    transition: all 3s ease-out;

                    &--left {
                        width: 120%;
                        top: 110%;
                        left: -10%;
                        transform: translate(0, -110%);
                    }

                    &--right {
                        width: 110%;
                        top: 140%;
                        left: -7%;
                        transform: translate(0, -140%);
                    }
                }
            }
        }


        &__icon {

            width: 40%;
            aspect-ratio: 1 / 1;
            background: url('../../../images/homepage/flower_frame_background.svg');
            background-size: 115% 115%;
            background-position: 50% 50%;

            img {
                width: 40%;
            }

        }

        @media screen and (max-width: 767px) {

            height: 400vh;
            width: 100%;
            display: block !important;


            &__animationBox {
                height: 70vh;
                width: 100%;
                overflow-y: scroll;
                scrollbar-width: none;  /*Firefox*/
                -ms-overflow-style: none;  /*IE and Edge */
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            &__box {
                top: 10px;
                position: sticky !important;
                transform: translate(-100%);
            }
        }

        @include custom.media-breakpoint-up(md) {

            flex-direction: row !important;

            // INDIVIDUAL SUMMARY BOX
    
            &__box {
                width: 20%;
                height: 80%;
                padding: 0.5rem;
    
                // CLASS ADDED ON HOVER (THE BOX IN THE MIDDLE ALWAYS KEEP IT)
    
                &--highlight {
                    height: 100% !important;
                    width: 30% !important;
                    box-shadow: functions.toRem(4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6), functions.toRem(-4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6);
    
                    .summary__img {
                        display: block !important;
                        opacity: 0.4;
    
                        &--left {
                            width: 120%;
                            top: 110%;
                            left: -10%;
                            transform: translate(0, -110%);
                        }
    
                        &--right {
                            width: 110%;
                            top: 140%;
                            left: -7%;
                            transform: translate(0, -140%);
                        }
                    }
    
                    // a {
                    //     font-size: custom.$body-landscape-fs;
                    //     padding: 0.3rem;
                    // }
    
                }
    
            }
    
            // ICONS
    
            &__icon {
    
                width: 60%;
    
            }

        }

        @include custom.media-breakpoint-up(lg) {

            &__box {
                width: 15%;
                height: 80%;

                &--highlight {
                    height: 100% !important;
                    width: 20% !important;
                }
            }

        }
    
    }

    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////
    
    @media (orientation: landscape) {

        flex-direction: row !important;

        // INDIVIDUAL SUMMARY BOX

        &__box {
            width: 25%;
            height: 80%;
            padding: 0.5rem;

            // CLASS ADDED ON HOVER (THE BOX IN THE MIDDLE ALWAYS KEEP IT)

            &--highlight {
                height: 100% !important;
                width: 30% !important;
                box-shadow: functions.toRem(4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6), functions.toRem(-4.8) functions.toRem(8) functions.toRem(16) rgba(custom.$dark, 0.6);

                .summary__icon {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                    transition: all .5s ease-in-out;
                }

                .summary__img {
                    display: block !important;
                    opacity: 0.4;

                    &--left {
                        width: 120%;
                        top: 110%;
                        left: -10%;
                        transform: translate(0, -110%);
                    }

                    &--right {
                        width: 110%;
                        top: 140%;
                        left: -7%;
                        transform: translate(0, -140%);
                    }
                }

                a {
                    font-size: custom.$body-landscape-fs;
                    padding: 0.3rem;
                }

            }

        }

        // ICONS

        &__icon {

            width: 60%;
            aspect-ratio: 1 / 1;
            background: url('../../../images/homepage/flower_frame_background.svg');
            background-size: 115% 115%;
            background-position: 50% 50%;

            img {
                width: 40%;
            }

        }

        @include custom.media-breakpoint-up(md) {

            &__box {
                width: 20%;
                height: 70%;

                &--highlight {
                    height: 100% !important;
                    width: 25% !important;

                }

            }
        }

        /////////////////// LAPTOP AND DESKTOP  ///////////////////
        
        @include custom.media-breakpoint-up(lg) {

            &__box {
                padding: 1rem;

                &--highlight {
                    
                    a {
                        font-size: custom.$body-fs;
                        padding: 0.5rem;
                    }
                }
            }

            &__icon {
                width: 90%;
            }

        }

        @include custom.media-breakpoint-up(xl) {

            &__box {
                width: 15%;
                height: 80%;
                padding: 1rem;

                &--highlight {
                    height: 100% !important;
                    width: 20% !important;

                }
                
            }

        }

    }


}











