@use '../../custom';
@use '../../components/functions';

.services {

    // ALL BREAKPOINTS 

    min-height: 100vh;
    margin-top: functions.toRem(56);

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////

    @media (orientation: portrait) {

        &__overview {
            width: 40%;
            aspect-ratio: 1 / 1;
        }

        &__icon {
            width: 60%;
        }

        &__blossom {
            transform: translateX(10%);
        }

        &__price {
            width: 40%;
        }

        &__advice {

            span {

                height: 2rem;
                transform: rotate(15deg) translateY(-20%);


                img {
                    height: 100%;
                    width: auto;
                }

            }
            
        }

        &__subheading {
            background: linear-gradient(
                90deg,
                custom.$primary,
                custom.$secondary
            );
            background-clip: text;
            color: transparent;
            font-family: 'Bodoni Moda', serif;

            span {
                font-weight: 300;
                letter-spacing: functions.toRem(2);
                font-size: clamp(functions.toRem(30), calc(30px + 0.17vw), functions.toRem(35));
                font-family: 'Raleway', sans-serif;
            }
        }

        &__halfWoman {
            width: 150%;
            // shape-outside: polygon(70% 60%, 50% 80%, 0% 80%, 0% 100%, 100% 100%, 100% 100%, 100% 0, 60% 0, 45% 30%);
            shape-outside: polygon(55% 60%, 70% 100%, 0% 100%, 0% 100%, 100% 100%, 100% 100%, 100% 0, 65% 0%, 50% 23%);
            transform: translateX(10%);

            img {
                mask-image: linear-gradient(0deg, transparent 5%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 60%, transparent 90%);
                // mask-image: linear-gradient(180deg, transparent 5%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 0%, transparent 95%);
            
            }
        }

        &__eyesLashes {
            width: 35%;
        }

        &__infos {
            background: linear-gradient(
                -45deg,
                custom.$white,
                custom.$secondary,
                custom.$primary
            );
        }

        // &__emphasize {
        //     width: max-content;

        //     &::before {
        //         content: url('../../../images/homepage/quote_icon.svg');
        //         width: functions.toRem(30);
        //         height: functions.toRem(30);
        //         padding: functions.toRem(2);
        //         display: inline-block;
        //         vertical-align: middle;
        //         height: 100%;
        //     }

        //     &::after {
        //         content: url('../../../images/homepage/quote_icon.svg');
        //         width: functions.toRem(30);
        //         height: functions.toRem(30);
        //         padding: functions.toRem(2);
        //         display: inline-block;
        //         transform: rotate(180deg);
        //         vertical-align: middle;
        //         height: 100%;
        //     }
        // }

        &__dropper {
            transform: rotateY(180deg) translate(20%);
            width: 70%;
            shape-outside: circle(50%);
        }

        &__palmTree {
            width: 80%;
        }

        &__door {

            &::after {
                // content: url('./../../../images/categories/door_shape_illustration.svg');
                content: url('./../../../images/categories/pink_door_shape_illustration.svg');
                position: absolute;
                top: 5%;
                left: 5%;
                height: 100%;
                width: 100%;
                z-index: -1;
            }
        }

        &__hiddenInfo {
            top: 10%;
            left: 10%;
            height: 90%;
            width: 90%;
            z-index: -1;
        }

        &__scrub {
            min-width: 50%;
            max-width: 50%;
            transform: translate(-10%);
        }


        @include custom.media-breakpoint-up(md) {

        }
        
    }

    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////

    @media (orientation: landscape) {



        /////////////////// LAPTOP AND DESKTOP  ///////////////////

        @include custom.media-breakpoint-up(lg) {


        }
    }

}


/// POP UP - FOR PRODUCTS 