@use './../../../custom';
@use './../../../components/functions';
@use './../../../components/mixins';

@include mixins.slideInAnimation('servicesSlideIn', translateY(200%));
@include mixins.pulseAnimation('overviewPulse', functions.toRem(30), custom.$primary);

.massages {

    // ALL BREAKPOINTS 

    min-height: 100vh;
    margin-top: functions.toRem(56);

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////

    @media (orientation: portrait) {

        &__slideInAnimation {
            animation: servicesSlideIn 1.5s ease-out forwards;

        }

        &__animatePulse {
            animation: overviewPulse 2s infinite 1s;
        }

        &__advice {

            span {

                height: 2rem;
                transform: rotate(15deg) translateY(-20%);


                img {
                    height: 100%;
                    width: auto;
                }

            }
            
        }

        @include custom.media-breakpoint-up(md) {

        }
        
    }

    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////

    @media (orientation: landscape) {



        /////////////////// LAPTOP AND DESKTOP  ///////////////////

        @include custom.media-breakpoint-up(lg) {


        }
    }

}