@use './../../../custom';
@use './../../../components/functions';

.kobido {

    // ALL BREAKPOINTS 

    ///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////

    @media (orientation: portrait) {


        &__blossomImg {
            transform: translateX(10%);
        }

        &__supreme {
            background: linear-gradient(
                90deg,
                custom.$primary,
                custom.$secondary
            );
            background-clip: text;
            color: transparent;
            font-family: 'Bodoni Moda', serif;

            span {
                font-weight: 300;
                letter-spacing: functions.toRem(2);
                font-size: clamp(functions.toRem(30), calc(30px + 0.17vw), functions.toRem(35));
                font-family: 'Raleway', sans-serif;
            }
        }

        &__price {
            width: 40%;
        }


        @include custom.media-breakpoint-up(md) {

            &__advice {
                clear: right !important;
            }

            &__blossomImg {
                width: 60%;
                margin-left: auto;
                float: right;
            }

            &__landscapeImg {
                width: 60%;
                float: left;
            }

        }
        
    }

    ///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////

    @media (orientation: landscape) {

        &__advice {
            clear: right !important;
        }

        &__blossomImg {
            width: 55%;
            margin-left: auto;
            float: right;
            transform: translateX(12%);
        }

        &__landscapeImg {
            width: 60%;
            float: left;
        }

        &__supreme {
            background: linear-gradient(
                90deg,
                custom.$primary,
                custom.$secondary
            );
            background-clip: text;
            color: transparent;
            font-family: 'Bodoni Moda', serif;
            font-size: clamp(functions.toRem(18), calc(functions.toRem(18) + 0.3vw), functions.toRem(22));

            span {
                font-weight: 300;
                letter-spacing: functions.toRem(2);
                font-size: clamp(functions.toRem(25), calc(25px + 0.17vw), functions.toRem(30));
                font-family: 'Raleway', sans-serif;
            }
        }

        p:nth-of-type(1) {
            margin-top: functions.toRem(20) !important;
        }

        &__price {
            width: 40%;
        }


        /////////////////// LAPTOP AND DESKTOP  ///////////////////

        @include custom.media-breakpoint-up(lg) {

            &__blossomImg {
                width: 50%;
                margin-left: initial;
                float: none;
                transform: translateX(10%);
                order: 5;
            }

            &__paragraphContainer {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                max-height: 50vh;
                justify-content: center;

                p {
                    width: 50%;
                }

            }

            &__landscapeImg {
                width: 40%;
                float: left;
                margin-right: functions.toRem(20);
            }

            &__price {
                width: 30%;
            }

            &__supreme {
                margin-top: functions.toRem(25) !important;
            }

        }

        @include custom.media-breakpoint-up(xl) {

            p {
                line-height: 2 !important;
            }

            &__blossomImg {
                width: 40%;
                transform: translateX(10%);
            }

            &__paragraphContainer {
                max-height: 70vh;
                align-items: flex-end;

                p {
                    width: 40%;
                }
            }

            &__advice {
                width: 60%;
                padding: functions.toRem(25) !important;
                text-align: center;
                margin: functions.toRem(25) auto !important;
            }

            &__landscapeImg {
                width: 35%;
                margin-right: functions.toRem(40);
            }

            &__supremeText {
                padding: 0 functions.toRem(20);
            }

            &__supremeInfo {
                padding: functions.toRem(20);
                gap: functions.toRem(30) !important;
            }

            &__price {
                width: 25%;
            }
        }
    }

}