@use './../../custom';
@use './../../components/functions';

.contact {

	// ALL BREAKPOINTS

	///////////// MOBILE AND TABLET - PORTRAIT ORIENTATION (height >= width)  ////////////////

	@media (orientation: portrait) {

		background-image: url('/images/contact/cloud_bg_illustration.svg');
		background-repeat: repeat-y;
		background-size: contain;

		&__bikeImg {
			transform: scale(1.2) translateY(-5%);
		}

		&__apptFormWrapper {
			height: functions.toRem(38);
			display: flex;
			flex-wrap: nowrap;
			gap: functions.toRem(10);
			justify-content: space-between;

			select {
				flex-grow: 1;
			}

			button {
				display: block;
				border: functions.toRem(1) solid custom.$dark;
				border-radius: functions.toRem(5);
				aspect-ratio: 1 / 1;
				position: relative;
				flex-shrink: 0 !important;

				i {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: functions.toRem(20);
				}
			}
		}

		&__apptSuggestions {

			div {
				max-width: 45%;
			}
		}

		@include custom.media-breakpoint-up(md) {

			width: 75%;
			margin: functions.toRem(16) auto;
			box-shadow: 0 0 functions.toRem(5) functions.toRem(5) rgba(custom.$dark, 0.7);
			border-radius: functions.toRem(10);
			margin-bottom: functions.toRem(16);
			background-size: cover;

			&__bikeImg {
				transform: scaleX(1.5) scaleY(1.4) translateY(-5%);
				margin-bottom: functions.toRem(16);
			}
		}

	}

	///////////// MOBILE AND TABLET - LANDSCAPE ORIENTATION (height < width)  ////////////////

	@media (orientation: landscape) {

		background-image: url('/images/contact/cloud_bg_landscape_illustration.svg');
		background-repeat: repeat-y;

		&__bikeImg {
			transform: scale(1.2) translateY(-5%);
		}

		@include custom.media-breakpoint-up(md) {

			&__imgAndContent {
				display: flex;
			}

			&__bikeImg {
				flex: 1;
				display: flex;
				align-items: flex-end;
				transform: scale(1.2) translateY(-5%);
				transform-origin: left;
				margin-bottom: functions.toRem(16);
			}

			&__wrapper {
				flex: 1;
				position: relative;
				z-index: 1;
			}

		}

		/////////////////// LAPTOP AND DESKTOP  ///////////////////

		@include custom.media-breakpoint-up(lg) {

			background-size: 100%;

			flex-direction: row !important;
			flex-wrap: wrap !important;

			h1 {
				width: 100%;
			}

		}

		@include custom.media-breakpoint-up(xl) {

			width: 85%;
			margin-left: auto;
			margin-right: auto;
			
			&__wrapper {
				width: 60%;
			}

		}
	}
}
