@use "../custom";
@use 'functions';

// USELESS FOR NOW
@mixin lightHoverable {
    &:link {
        color: custom.$white-ish;
    }

    &:visited {
        color: initial;
    }

    &:hover {
        color: rgba(custom.$white-ish, 0.6);
    }

    &:active {
        color: custom.$secondary;
    }
}

// FOCUS MIXIN
@mixin focus {
    box-shadow: 0 0 functions.toRem(2) functions.toRem(2) custom.$secondary;
}