@use "../custom";
@use 'functions';

// FOCUS MIXIN
@mixin focus {
    box-shadow: 0 0 functions.toRem(2) functions.toRem(2) custom.$secondary;
}

// ANIMATION

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    30% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    } 
}

// DOOR SHAPE MASSAGES PAGE ANIMATION

@mixin doorReveal($startZIndex, $endZIndex) {

    animation: doorAnimation 3s ease-in-out;

    @keyframes doorAnimation {
        0% {
            z-index: $startZIndex;
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            z-index: $endZIndex;
            opacity: 1;
        }
    }
}


