@use '../custom';
@use '../components/functions';

.homepage {
    font-family: 'Raleway', sans-serif;
}

.heading-1 { // h2 for now
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
    font-size: functions.toRem(36.8);
}

.heading-2 { // h3 for now
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
    font-size: functions.toRem(32);
}

.heading-4 { // strong tag for now
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
    font-size: functions.toRem(19.2);
}

.subheading { // under a heading
    font-family: 'Raleway', sans-serif;
    font-size: functions.toRem(12);
    letter-spacing: functions.toRem(2);
    font-weight: 400;
    color: custom.$primary;
}

.emphasize { // emphasized larger text
    font-size: functions.toRem(48);
    font-weight: 200;
    color: custom.$secondary;
    font-family: 'Bodoni Moda', serif;
}







