@use '../custom';
@use '../components/functions';


.homepage {
    font-family: 'Raleway', sans-serif;
}

.heading-1 { // h2 for now
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
    font-size: 2.3rem;
}

.subheading { // under a heading
    font-family: 'Raleway', sans-serif;
    font-size: functions.toRem(12);
    letter-spacing: functions.toRem(2);
    font-weight: 400;
    color: custom.$primary;
}

.emphasize { // emphasized larger text
    font-size: 3rem;
    font-weight: 200;
    color: custom.$secondary;
    font-family: 'Bodoni Moda', serif;
}













.subheader {
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
}

h3 .subheader--under {
    margin-bottom: -60px;
}

h4 {
    font-size: 1.2rem;
    font-weight: 700;
}







