
<div class="container-fluid justify-content-end column-gap-2">
    <!-- Navbar logo -->
    <img src="/images/placeholder_logo.svg" alt="Institut For You Placeholder Logo" class="me-auto order-md-1 navbar__logo">

    <!-- Navbar toggler -->
    <button class="navbar-toggler navbar__toggler navbar__toggler--menu focus-ring" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle Navigation Menu">
        <i class="fa-solid fa-bars"></i>
    </button>

        <!-- Search bar toggler -->
        <button class="navbar-toggler navbar__toggler navbar__toggler--search order-md-3 focus-ring" type="button" data-bs-toggle="collapse" data-bs-target="#searchBar" aria-controls="searchBar" aria-expanded="false" aria-label="Toggle Search Bar">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse justify-content-center navbar__menu order-md-2" id="navMenu">
        <ul class="navbar-nav flex-md-row justify-content-center">
            <li class="nav-item px-2">
                <a href="/home.html" class="nav-link text-capitalize">accueil</a>
            </li>
            <li class="nav-item dropdown px-2">
                <a href="#" class="nav-link dropdown-toggle text-capitalize" role="button" data-bs-toggle="dropdown" aria-expanded="false">soins</a>
                <ul class="dropdown-menu navbar__dropdown bg-primary">
                    <li><a href="#" class="dropdown-item text-capitalize">tous les soins</a></li>
                    <li><h6 class="dropdown-header text-capitalize">soins du visage</h6></li>
                    <li><a class="dropdown-item text-capitalize" href="#">soin coup d'éclat</a></li>
                    <li><a class="dropdown-item text-capitalize" href="#">soin hydratant & nourrissant
                    </a></li>
                    <li><a class="dropdown-item text-capitalize" href="#">soin traitant</a></li>
                    <li><a class="dropdown-item text-capitalize" href="#">soin anti-age</a></li>
                    <li><h6 class="dropdown-header text-capitalize">soins du corps</h6></li>
                    <li><a class="dropdown-item text-capitalize" href="#">cryothérapie</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown px-2">
                <a href="/massages.html" class="nav-link dropdown-toggle text-capitalize" role="button" data-bs-toggle="dropdown" aria-expanded="false">massages</a>
                <ul class="dropdown-menu navbar__dropdown bg-primary">
                    <li><a href="/massages.html" data-redirect="null" class="dropdown-item text-capitalize">tous les massages</a></li>
                    <li><h6 class="dropdown-header text-capitalize">massages du visage</h6></li>
                    <li><a class="dropdown-item text-capitalize" href="/massages.html?target=mk" data-redirect="mk">massages kobido</a></li>
                    <li><a class="dropdown-item text-capitalize" href="/massages.html?target=bdr" data-redirect="bdr">massage beauté du regard</a></li>
                    <li><h6 class="dropdown-header text-capitalize">massages du corps</h6></li>
                    <li><a class="dropdown-item text-capitalize" href="/massages.html?target=mc" data-redirect="mc">massage californien</a></li>
                    <li><a class="dropdown-item text-capitalize" href="/massages.html?target=gm" data-redirect="gm">gommage & massage</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown px-2">
                <a href="epilations.html" class="nav-link dropdown-toggle text-capitalize" role="button" data-bs-toggle="dropdown" aria-expanded="false">épilations</a>
                <ul class="dropdown-menu navbar__dropdown">
                    <li><a class="dropdown-item" href="epilations.html">Toutes les épilations</a></li>
                    <li><h6 class="dropdown-header">Épilations du visage</h6></li>
                    <li><a class="dropdown-item text-capitalize" href="#">sourcils</a></li>
                    <li><a class="dropdown-item text-capitalize" href="#">lèvres</a></li>
                    <li><a class="dropdown-item text-capitalize" href="#">menton</a></li>
                    <li><a class="dropdown-item text-capitalize" href="#">joues</a></li>
                    <li><a class="dropdown-item text-capitalize" href="#">cou</a></li>
                    <li><h6 class="dropdown-header">Épilations du corps</h6></li>
                    <li><a class="dropdown-item text-capitalize" href="#">ventre</a></li>
                    <li><a class="dropdown-item text-capitalize" href="#">jambes</a></li>
                    <li><a class="dropdown-item text-capitalize" href="#">maillot</a></li>
                    <li><a class="dropdown-item text-capitalize" href="#">aisselles</a></li>
                    <li><a class="dropdown-item text-capitalize" href="#">bras</a></li>
                </ul>
            </li>
            <li class="nav-item text-capitalize px-2">
                <a href="institut.html" class="nav-link">l'institut</a>
            </li>
            <li class="nav-item text-capitalize px-2">
                <a href="contact.html" class="nav-link">contact</a>
            </li>
        </ul>
    </div>

    <!-- Search bar -->
    <div class="collapse navbar-collapse flex-grow-0 order-md-4" id="searchBar">
        <div class="input-group d-flex mt-3 mt-lg-0 navbar__input-group" id="searchGroup">
            <input type="text" class="form-control border border-0 z-1 navbar__input shadow-none" placeholder="Que cherchez-vous?" aria-label="Search bar" aria-describedby="searchBar" id="searchInput">
            <button class="btn btn-outline-secondary navbar__search-btn border border-0 border-start" type="button">
                <i class="fa-solid fa-magnifying-glass d-flex"></i>
            </button>
        </div>
    </div>

</div>