@use '../custom';
@use '../components/functions';

.footer {
    color: custom.$white;
    background-image: url('../../images/footer/woman_cocktail_illustration.png');
    background-repeat: no-repeat;
    background-size: auto 115%;
    background-position: 115% 0%;

    &__separator {
        width: 63%;
    }

    // CONTACT SECTION

    &__btn {
        text-decoration: none;
        letter-spacing: functions.toRem(2);
        font-weight: 700;
    }


    &__contact-icon {
        height: 110%;

        &--email {
            left: 5%;
            top: 10%;
        }

        &--phone {
            left: 5%;
            top: 20%;
        }
    }

    // MAP SECTION
    &__map {
        height: functions.toRem(300);
    }

    &__bubble {
        color: custom.$black-ish;
        

        h3 {
            font-family: 'Bodoni Moda', serif;
            font-weight: 700;
            font-size: functions.toRem(20.8);
        }

        p {
            margin: 0;
            font-size: functions.toRem(12.8);
        }
    }

}


