@use '../components/functions';
@use '../custom';



<<<<<<< HEAD
.intro {
    @include custom.media-breakpoint-up(lg) {
        padding: functions.toRem(115) !important;
    }

    &__title {
        font-family: 'Bodoni Moda', serif;
        font-weight: 700;
    }
}

.intro-img {
    object-position: 50% 80%;
}

 #bodyhome {
     font-family: 'Raleway', sans-serif;
 }

 .cadeau {
    color: custom.$white-ish;
 }
=======

.gift__btn {
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    
}

















>>>>>>> 946e42d (beginning of code cleanup)

 .benefit__img {
    position: relative;
 }

 .benefit__img img {
   box-shadow: 10px 10px custom.$primary;
   border-radius: 10px;
 }

<<<<<<< HEAD
//  .benefit__img::after {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background-color: custom.$primary;
//     z-index: -1;
//  }

//  .benefit__img--left::after {
//     top: -4%;
//     left: -3%;
//     // transform: translate(-3%, -3%);
//  }

//  .benefit__img--right::after {
//     top: 3%;
//     left: 4%;
//     // transform: translate(3%, 3%);
//  }
=======

>>>>>>> 946e42d (beginning of code cleanup)

 .benefit__img--right {
    max-width: 25%;
 }

 .benefit__img--left {
   max-width: 35%;
 }

.benefit {
   background-image: url('../../images/homepage/roundone.svg'), url('../../images/homepage/roundthree.svg');
   background-repeat: space, repeat-y;
   background-size: 50%, 100%;
}

<<<<<<< HEAD
.gift__bg {
    background: url('../../images/homepage/shapeone.svg');
    background-repeat: no-repeat;
    background-position: 33% 50%;
    background-size: 130%;
    max-width: 60%;

    p {
        width: 60%;
        text-align: center;
    }

    p:nth-of-type(2) {
        width: 80%;
    }

    p:nth-of-type(3) {
        width: 70%;
    }
}

.gift__img {
    width: 90%;
}

.gift__btn {
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    
}

=======
>>>>>>> 946e42d (beginning of code cleanup)
.table, .table thead, .table th, .table td, .table tr {
    background-color: custom.$white-ish;
}

.carousel {
    max-height: 70vh;
}

.carousel-indicators [data-bs-target] {
    text-indent: 0%;
    opacity: 1;
    background-color: custom.$white-ish !important;

    &:hover {
        background-color: custom.$primary !important;
    }

}

.carousel-indicators [data-bs-target].active {
    background-color: custom.$primary !important;
    color: custom.$white-ish;
}

.carousel-indicators {
    position: static;
    width: 90%;
    margin: 0 auto 2rem !important;
    margin: 0;
    height: 3rem;
    background-color: custom.$white-ish !important;
    opacity: 1;

    button {
        border-radius: 10px 10px 0px 0px;
        background-color: custom.$white-ish;
        opacity: 1;
        text-transform: capitalize;
    } 


}


.carousel__img {
    width: 55%;
    height: 80%;

    div {
        height: 120%;
        border-radius: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;
        // border: 1px solid;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

.carousel-item:nth-child(1) .carousel__img img {
    object-position: 45% 50%;
}

.carousel-item:nth-child(2) .carousel__img img {
    object-position: 50% 70%;
}

.carousel-item:nth-child(3) .carousel__img img {
    object-position: 40% 50%;
}

.carousel-item:nth-child(4) .carousel__img img {
    object-position: 50% 50%;
}

.carousel-item:nth-child(5) .carousel__img img {
    object-position: 60% 50%;
}

.carousel__review {
    width: 40%;
    height: 90%;
    border: 1rem solid custom.$primary;
    border-radius: 10%;
    text-align:  center;
    box-shadow: 3px 7px 15px rgba(custom.$dark, 0.6), -3px 7px 15px rgba(custom.$dark, 0.6);


    blockquote {
        margin-top: -1rem;
        font-size: 1rem;
    };
}

.carousel__decor {
    width: 5%;
    height: 80%;
}

.carousel__stars {

    img {
        height: 3rem;
        width: 3rem;
    }
}

button[class|="carousel-control"] {
    width: 3rem;
}

.carousel__element {

    figcaption {
        text-transform: capitalize;
    }
}

.carousel__title {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 0.8rem;
    color: custom.$secondary;
}

.carousel__summary {
    // height: 37%;

    dl {
        padding: 1rem;
        width: 20%;
        text-align: center;
        border: 1px solid custom.$dark;
        border-radius: 1rem;
        height: 80%;
        transition: all .5s ease-in-out;
        background-color: custom.$secondary;

        // &:hover .carousel__summary-svg {
        //     filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
        //     transition: all .5s ease-in-out;
        // }

        &:hover span {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
            transition: all .5s ease-in-out;
        }

        button {
            background-color: custom.$secondary;
            color: custom.$dark;
            font-weight: 700;
        }

        strong {
            font-family: 'Bodoni Moda', serif;
            font-size: 1.2rem;
        }
    }

    dl:nth-child(2) {
        height: 100%;
        width: 25%;
        background-color: custom.$primary;
        box-shadow: 0.3rem 0.5rem 1rem rgba(custom.$dark, 0.6), -0.3rem 0.5rem 1rem rgba(custom.$dark, 0.6);
        color: custom.$white-ish;
        border: none;

        span {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
            transition: all .5s ease-in-out;
        }
    }

    span {
        width: 85%;
        // border: 3px solid;
        aspect-ratio: 1 / 1;
        background: url('../../images/homepage/flowerframe.svg');
        background-size: 115% 115%;
        background-position: 50% 60%;

        img {
            width: 40%;
        }
    }

    &--hover {
        background-color: custom.$primary !important;
        height: 100% !important;
        width: 25% !important;
        box-shadow: 0.3rem 0.5rem 1rem rgba(custom.$dark, 0.6), -0.3rem 0.5rem 1rem rgba(custom.$dark, 0.6);
        color: custom.$white-ish;
        border: none !important;
        transition: all .5s ease-in-out;
    }

    &-img {

        opacity: 0.4;

        &--one {
            width: 120%;
            top: 140%;
            left: -10%;
            transform: translate(0, -140%);
        }

        &--two {
            width: 120%;
            top: 100%;
            left: -10%;
            transform: translate(0, -100%);
        }
    }

}