@use '../custom';
@use '../components/mixins';
@use '../components/functions';

.navbar {
	max-height: 100vh;
	overflow-y: scroll !important;

	&__logo {
		@media (orientation: portrait) {
			max-width: 50%;

			@include custom.media-breakpoint-up(sm) {
				max-width: 20%;
			}
		}

		@media (orientation: landscape) {
			max-width: 20%;

			@include custom.media-breakpoint-up(lg) {
				max-width: 10%;
			}
		}
	}

	&__toggler {
		width: functions.toRem(45);
		height: functions.toRem(40);
		color: custom.$white;
		border: functions.toRem(1) solid custom.$white-03;

		&--search {
			font-size: functions.toRem(18);
		}

		&--menu {
			@include custom.media-breakpoint-up(md) {
				display: none;
			}
		}
	}

	&__menu {
		.navbar-nav {
		}
		@include custom.media-breakpoint-up(md) {
			display: block !important;
			flex-basis: auto !important;
		}
	}

	&__dropdown {
		@include custom.media-breakpoint-up(md) {
			position: absolute !important;
			border-top: none;
			border-radius: 0 0 functions.toRem(10) functions.toRem(10);
		}

		h6 {
			font-size: functions.toRem(15);
		}
	}

	&__search-btn {
		background-color: custom.$white;
		border-radius: functions.toRem(8);
	}

	&__input {
		border-radius: functions.toRem(8);
	}

	&__input-group {
		border-radius: functions.toRem(8);

		&--focus {
			@include mixins.focus;
		}
	}
}
